*.odocl
*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
_build
*.native
*.byte
*.docdir
setup.data
setup.log
Makefile
configure
myocamlbuild.ml
setup.ml
src/META
src/*.mldylib
src/*.mllib
_tags
